.profile-image-section {
  color: white;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size:14px;
}

/* .profile-image-section:hover {
  background-color: rgba(50,50,50,.5);
} */

.profile-image-dropzone:hover {
  background-color: rgba(50,50,50,.5);
}

.aside {
  display:flex;
  margin-top: -38px;
}

.accepted-files {
  color: rgb(11,220,108);
}

.dropzone-text {
  background-color: rgba(0,0,0,.8);
}
