
.main-header {
  background-color: #333;

  display:block;
  width: 100%;
}

.main-header a {

  display: block;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right:18px;



}

.main-navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1240px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  height: 46px;
  font-size: 14px;
  background-color: #333;
  color:#ccc;

}

.header-list {
  display:flex;
  font-weight: 30;
}

#search-box {
  background-color: rgba(242, 243, 244,1);
  border-radius: 4px;
  width:500px;
  height: 30px;
  padding-left: 5px;
}

#search-form {
  margin-top: 7px;
}

#upgrade-link {
  color: #f50;
}

#nimbus-link, #home-link, #collection-link {
  border-right: 1px solid black;
}

#nimbus-link {
  border-left:1px solid black;
}
