.stream-page-container {
  display: flex;
  width: 1180px;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.stream-nav {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  display: flex;
  justify-content: space-between;
  width: 1100;
  height: 30px;

  border-bottom: 1px solid #f2f2f2;
}

.stream-nav-left {
  display: flex;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 17px;
  margin-right: 21px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.stream-nav-left li {
  margin-right: 30px;

}
