.track-item-image {
  width:160px;
  height: 160px;
}

.track-index-item {
  display: flex;
  margin-bottom: 45px;
}

.track-info-div {
  height: 50px;
  display: flex;
  flex-direction: column;
  width: 610px;
  margin-left: 10px;
  margin-top: 10px;
}

.user-track-index {

  width: 850px;
  border-right: 1px solid #f2f2f2;
  margin-top: 20px;
}

/* .react-player {
  background-color: red;
  height: 30px;
} */

.play-button {
  margin-top: 20px;
  background-color: #f50;
  width:34px;
  text-align: center;
  border-radius: 50%;
  height: 34px;
}

.item-upper-div {
  display:flex;
  /* margin-left: 14px */

}

.track-artist {

  color: #999;
  font-size: 11px;
  /* background-color: green; */
}

.waveform {
  z-index: 0;
  cursor: pointer;
}

.waveform-line {
  position: relative;
  height: 1px;
  background-color: white;
  margin-top: 33px;
  z-index: 3;
  margin-bottom: -31.5px;
}

.track-item-progress {
  display: table;
  z-index: 3;
  background-color: black;
  width: auto;
  color: #8C8C8C;
  font-size: 11px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.track-name {

  font-size: 14px;
  color: #333;
  margin-top: 2px;
  /* background-color: orange; */
}

.play-button {
  margin-top: 10px;;
}

.edit-track-item {
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  display: flex;
  padding-top: 4px;
  margin-top: 20px;
  font-size: 12px;
  width: 39px;
  height: 18px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;

}

.edit-track-item::before {
  display: inline-block;
  content: " ";
  width: 17px;
  height: 17px;
  background-size: cover;
  margin-right: 2px;
  background-position-x: -2px;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+ZWRpdDwvdGl0bGU+PHBhdGggZD0iTTExLjYwNyAyTDMuMTIgMTAuNDg1bC0uNzA3IDMuNTM2IDMuNTM2LS43MDcgOC40ODUtOC40ODZMMTEuNjA3IDJ6bTAgMS40MTRsLTcuMDcxIDcuMDcxLjcwNy43MDcgNy4wNy03LjA3LS43MDYtLjcwOHoiIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==)
}

.edit-track-item {
  text-align: right;
  font-size: 12px;
  width: 39px;
  height: 18px;
  padding-top: 1px;
  padding-bottom: 0px;
}



.item-middle {
  /* display: flex;
  flex-direction: column; */
  justify-content: space-between;
  margin-left: 14px;
  /* background-color: green; */

}

.track-progress-div {
  margin-top: -10px;
  /* background-color: green; */
}

.comment-div {
  /* background-color: green; */
  height: 20px;

}

.progress-text {
  position: absolute;
  margin-top: -15px;
  z-index: 20;
}

.song-length {
  position: relative;
  float: right;
  margin-top: -15px;
  margin-left: -10px;
  z-index: 20;
}

.track-progress {
  color: #f50;
}

.track-comment-transparent {
  position: relative;
  width: 100%;
  background-color: rgba(250,250,250,.7);
  height: 35px;
  margin-top: -31px;
  z-index: 2;
}

.track-comment-photobar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 15px;
  /* background-color: blue; */
  z-index: 3;

}

.waveform-comment {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;

}

.item-comment-text {
  margin-top: 15px;
  width: 200px;
  display: none;
  overflow: visible;
  font-size: 12px;
  border-left: solid 1px #f50;
  padding-left: 5px;
}

.item-comment-username {
  color: #f50;
  margin-right: 5px;
}

.waveform-comment:hover .item-comment-text {
  display: flex;
}

.grey-comment-container {
  width: 100%;
  height: 33px;
  background-color: #F2F2F2;
  border: 1px solid #E5E5E5;

}

.comment-form {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: white;
  margin-top: 6px;
  margin-left: 6px;
  font-size: 13px;
  width: 642px;
  height:21px;
  padding-left: 8px;
  padding-top: 1px;
  border: 1px solid #E5E5E5;
}
