body {
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

#user-header {
  height: 260px;
  width: 1240px;
  background-color: white;
  margin: 0 auto;
  overflow:hidden;
  background-size: 100%;
  display: flex;
  padding-top: 30px;
  padding-left: 22px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#username {
  display:table;
  background-color: rgba(0,0,0,.8);
  color:white;
  padding: 10px 7px;

  font-size: 21px;
  margin-bottom: 5px;
  font-weight: 100;
}

#name, #location {
  display:table;
  background-color: rgba(0,0,0,.8);
  color:#ccc;
  padding: 4px 7px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

#profile-image-container {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: 100%
}

#profile-info-container {
  display:block;
  margin-left: 20px;
  width: 500px;
  white-space: nowrap;
}

#user-page {
  display: block;
  width: 1180px;
  /* height: 500px; */
  /* background-color: orange; */
  margin: 0 auto;
  background-color: white;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

#user-nav {
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  display: flex;
  justify-content: space-between;
  width: 1100;
  height: 30px;

  border-bottom: 1px solid #f2f2f2;
}

#user-nav-left {
  display: flex;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 17px;
  margin-right: 21px;
  padding-bottom: 5px;
  padding-top: 5px;


}

#active {
  border-bottom: 1px solid #f50;
  padding-bottom: 25px;
  color: #f50;
}

#user-nav-left li {
  margin-right: 30px;

}

.edit {
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  /* padding: 2px 11px 2px 10px; */
  padding-right: 10px;
  padding-left: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  display: flex;
  padding-top: 4px;
  margin-top: -5px;

}

.edit::before {
  display: inline-block;
  content: " ";
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 2px;
  background-position-x: -2px;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+ZWRpdDwvdGl0bGU+PHBhdGggZD0iTTExLjYwNyAyTDMuMTIgMTAuNDg1bC0uNzA3IDMuNTM2IDMuNTM2LS43MDcgOC40ODUtOC40ODZMMTEuNjA3IDJ6bTAgMS40MTRsLTcuMDcxIDcuMDcxLjcwNy43MDcgNy4wNy03LjA3LS43MDYtLjcwOHoiIGZpbGw9IiMyMjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==)
}
